uplink:
  hostname: localhost
  port: 7776
  
  password: PASSWORD HERE

hostname: services.tld
description: BitServ IRC Services

# Use quotes!
services-channel: "#services"

# Note: This section isn't set up to be ready for EighthBit's LDAP. Many
# example values are generalized. You have been warned.
ldap:
  hostname: ldap.eighthbit.net
  port: 389
  
  binds:
  - bot: NickServ
    password: NICKSERV PASS HERE
  - bot: ChanServ
    password: CHANSERV PASS HERE
  - bot: GroupServ
    password: GROUPSERV PASS HERE
  
  base: dc=eighthbit,dc=net
  auth_pattern: uid={username},ou=users
  master_dn_pattern: uid={username},ou=services
